<!-- @tx-process:include head/_head.html --><!-- /@tx-process -->

  <body class="page-controller">
    <div class="controller">
      <div class="dPad">
        <div id="dPadUp" class="dPadUp">Up</div>
        <div id="dPadRight" class="dPadRight">Right</div>
        <div id="dPadDown" class="dPadDown">Down</div>
        <div id="dPadLeft" class="dPadLeft">Left</div>
      </div>
      <div class="buttons">
        <div id="buttonA" class="buttonA">A</div>
        <div id="buttonB" class="buttonB">B</div>
      </div>
    </div>
    <!-- @tx-process:include _scriptsController.html --><!-- /@tx-process -->
  </body>

</html>
