/* Pseudo Element */

.dPad:before {
  position: absolute;
  content: '';
  display: block;
}

/* Baseline, Typography & Vertical Rhythm */

canvas {
  display: block;
}

html {
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  line-height: 1.5;
}

body {
  color: #333;
  font-family: 'Segoe UI', Roboto, 'Droid Sans', 'Helvetica Neue', Helvetica, Calibri, Arial, sans-serif;
  -webkit-font-feature-settings: 'liga' 1, 'clig' 1, 'kern' 1;
  font-feature-settings: 'liga' 1, 'clig' 1, 'kern' 1;
  font-display: swap;
  -epub-hyphens: manual;
  -webkit-hyphens: manual;
  -ms-hyphens: manual;
  hyphens: manual;
}

/* Selection */

::-moz-selection {
  color: #fff;
  background: #176191;
}
::selection {
  color: #fff;
  background: #176191;
}

/* Forms */


input::placeholder,
textarea::placeholder {
  color: #666;
  opacity: 1;
}

.buttonA,
.buttonB {
  height: 36px;
  height: 2.25rem;
  padding: 0 15px;
  cursor: pointer;
}

/* Fast Touch */

.buttonA,
.buttonB {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

/* Link Touch State */

.mdz-touchevents a:hover,
.mdz-touchevents a:active {
  color: #176191;
}

/* Print Baseline, Typography & Vertical Rhythm */

@media print {

  /* csslint ignore:start */

  /* Typography & Vertical Rhythm */

  html,
  body {
    background: #fff;
  }

  @page {
    size: A4;
    margin: .5cm;
  }

  body {
    color: #333;
    font-size: 12pt;
    line-height: 1.5;
  }

  /* csslint ignore:end */


}

/* Layout */

html {
  height: 100%;
}

body {
  position: relative;
  overflow: hidden;
  height: 100%;
  padding: 0;
  margin: 0;
  background: #fff;
}

.page-game {
  background: #4d4d4d;
}

.page-controller {
  background: #fff;
}

/* Phone Layout */

@media only screen and (max-width: 45em) {

  /* Layout */

  body {
    min-width: 0;
  }

}

/* Print Layout */

@media print {

  /* Layout */

  body {
    width: auto;
    min-width: 0;
    max-width: none;
    padding: 2.54cm;
  }

}

/* Controller */

.controller {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* D-Pad */

.dPad {
  position: absolute;
  top: 50%;
  left: 27.5%;
}

.dPad:before {
  width: 90px;
  height: 90px;
  margin: -45px 0 0 -45px;
  background: #4d4d4d;
}

.dPadUp,
.dPadRight,
.dPadDown,
.dPadLeft {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  overflow: hidden;
  width: 90px;
  height: 0;
  padding: 70px 0 0;
  margin: 0 0 0 -45px;
  background: #4d4d4d;
  -ms-touch-action: none;
  touch-action: none;
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

.dPadUp {
  -webkit-transform: translateY(-45px);
  -ms-transform: translateY(-45px);
  transform: translateY(-45px);
}

.dPadRight {
  -webkit-transform: translateX(45px) rotate(90deg);
  -ms-transform: translateX(45px) rotate(90deg);
  transform: translateX(45px) rotate(90deg);
}

.dPadDown {
  -webkit-transform: translateY(45px) rotate(180deg);
  -ms-transform: translateY(45px) rotate(180deg);
  transform: translateY(45px) rotate(180deg);
}

.dPadLeft {
  -webkit-transform: translateX(-45px) rotate(270deg);
  -ms-transform: translateX(-45px) rotate(270deg);
  transform: translateX(-45px) rotate(270deg);
}

/* Buttons */

.buttons {
  position: absolute;
  top: 50%;
  right: 25%;
}

.buttonA,
.buttonB {
  position: absolute;
  display: block;
  overflow: hidden;
  width: 90px;
  height: 0;
  padding: 90px 0 0;
  border-radius: 50%;
  margin: -45px 0 0 -45px;
  -ms-touch-action: none;
  touch-action: none;
}

.buttonA {
  background: #ff3f2e;
  -webkit-transform: translate(50px, -50px);
  -ms-transform: translate(50px, -50px);
  transform: translate(50px, -50px);
}

.buttonB {
  background: #d8d62c;
  -webkit-transform: translate(-50px, 50px);
  -ms-transform: translate(-50px, 50px);
  transform: translate(-50px, 50px);
}
